<div class="row align-items-center">
        <div class="col-12">
          <div class="other-features-slider" data-aos="fade-up">

            <div class="item text-center">
              <span class="lnr lnr-rocket"></span>
              <h4>Creative Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>
            <div class="item text-center">
              <span class="lnr lnr-cog"></span>
              <h4>Easy Login</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>
            <div class="item text-center">
              <span class="lnr lnr-cloud"></span>
              <h4>Fast Install</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>
            <div class="item text-center">
              <span class="lnr lnr-construction"></span>
              <h4>Data Protect</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>
            <div class="item text-center">
              <span class="lnr lnr-gift"></span>
              <h4>High Resolution</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>
            <div class="item text-center">
              <span class="lnr lnr-database"></span>
              <h4>Clean Code</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>
            <div class="item text-center">
              <span class="lnr lnr-gift"></span>
              <h4>Quick Support</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque eos amet vel
                voluptatibus
                incidunt.
              </p>
            </div>

          </div>
        </div>
      </div>